#div-content {
  pading-top: 50px;
}
#div-spacer-top {
  height: 10%;
}
#div-signup-container {
  width: 60%;
  vertical-align: top;
}
#div-login {
  text-align: left;
}
#div-auth-commands {
  padding-top: 10px;
  text-align: center;
}
#panel-tos {
  text-align:justify;
}
.input-signup {
  padding-top: 7px;
  padding-bottom: 7px;
}
#div-btn-submit {
  padding-top: 15px;
  text-align: center;
}
.p-error {
  display: none;
}
