.table>tbody>tr>td.label-result {
  vertical-align: middle;
}
#div-content {
  padding-top: 90px;
}
#div-pages {
  text-align: center;
  padding-bottom: 50px;
}
.limits {
  font-weight: bold;
  color: red;
}
#div-problem-info {
  align-content: center;
}
.col {
  margin-top: 5px;
}
.textarea-io {
  width:100%;
  resize: none;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box;
}
