<footer class="footer">
  <div class="container">
    <div class="row center">
      <div class="col-sm-12" id="div-footer">
        <span class="text-muted align-middle">Copyright 2016 studiodoth.<br/>Source Code avalible on <a href="https://www.github.com/studiodoth/judge">GitHub</a></span>
      </div>
    </div>
  </div>
</footer>
<style type="text/css">
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
  }
  .footer {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
  }
  #div-footer {
    vertical-align: middle;
    top: 0;
    bottom: 0;
  }
</style>
